name: Build and Deploy

on:
  push:
    branches: [ master ]

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    
    - uses: actions/setup-node@v3
      with:
        node-version: '24.x'
        cache: 'yarn'
    
    - run: yarn install --frozen-lockfile
    - run: yarn build
      env:
        CI: true
    
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist